
.bodyg{
	margin: 0;
	font-family: sans-serif;
	margin: auto;
}
.hider{
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	width: 50px;
	box-sizing: border-box;
}


#bot-menu{
	display: block;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
#bot-menu:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
#menu-btn .btn-hamburguer{
	background-color: #fff;
	width: 100%;
	height: 2px;
	margin: 5px 0;
}
#slash-menu{
	width: 100%;
	height:70px;
	background-color: #4E94AB;
}
.screen{
	width: 100%;
	border: 1px solid #0f0; 
	margin: 1px auto;
	background-color: #fff;
}


.menu{
	height:370px; 
	width: 140px; 
	float: left; 
	margin: 10px;
	background: #27272A;
	transition: 0.5s;
}
.hide{
	margin-left: -19%;
}

.contenedor{
	height:500px;
	padding: 10px;
	margin: 10px 10px 10px 160px;
	background-color: #D4D4D4;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	transition: 0.5s;

}
.complete{
	margin: 10px 10px 10px 10px;
}

.menu ul{
	margin: 0;
	flex-direction: column;
	list-style: none;
	padding: 0;
	display: flex;
}
.menu li{
	border-top: 1px solid #fff;
}
.menu li:hover{
	background: rgb(52, 52, 52);
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}
#btn-menu{
	display: none;
}
#out{
	text-align: justify;
}
#div1 table{
	font-size: x-large;
	border-collapse: 5px separate;
	width: 100%;
	height: 100%;
	list-style: none;
	text-align: center;
}
#div1 table td{
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}
.tab-cdv{
	font-size: x-large;
	text-align: center;
}
.btnA{
	padding: 0 20px;
	height: 35px;
	line-height: 40px;
	border: none;
	color: black;
	background-color: #7D3C98;
	border-radius: 10px;
	cursor: pointer;
}
.btnA:hover{
	background: rgb(52, 52, 52);
}

/*POUP*/
.overlay{
	background: rgb(0,0,0,0.3);/* El 4to parametro es trasparencia*/
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.pop1{
	background: #F8F8F8;
	box-shadow: 0px 0px  5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	width: 500px;
	transition: 0.3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.pop1.active{
	transform: scale(1);
	opacity: 1;
}