/*Monitoreo Web para reactor
Desarrolladores:
*Miguel Orozco Alvarado
*Isidro Emanuel Rodriguez Perez
Version: 0.31;
Paleta de colores CSS
Barra azul #4E94AB
Sombra #264853
Negro menu lateral #27272A
Sombra de menu lateral #343434
*/
.bodyg{
	margin: 0;
	font-family: sans-serif;
	margin: auto;
}
.hider{
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	width: 50px;
	box-sizing: border-box;
}
/******************************************************/
/*Seccion de botones ON-OFF de mediciones de sensores*/
/****************************************************/
#bot-menu{
	display: block;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
#btn-menu{
	display: none;
}
#bot-menu:hover{
	cursor: pointer;
	background: rgba(38, 72, 83);
}
#menu-btn .btn-hamburguer{
	background-color: #fff;
	width: 100%;
	height: 2px;
	margin: 5px 0;
}
/******************************************************/
/*				Seccion de barra azul				 */
/****************************************************/
#slash-menu{
	width: 100%;
	height:70px;
	background-color: #4E94AB;
}
/*********************************************************/
/*Recuadro verde: contiene contenedor y menu de opciones*/
/*******************************************************/
.screen{
	width: 100%;
	border: 1px solid #0f0; 
	margin: 1px auto;
	background-color: #fff;
}
/******************************************************/
/*		Menú de opciones color negro				 */
/****************************************************/
.menu{
	height:370px; 
	width: 140px; 
	float: left; 
	margin: 10px;
	background: #27272A;
	transition: 0.5s;
}
.menu ul{
	margin: 0;
	flex-direction: column;
	list-style: none;
	padding: 0;
	display: flex;
}
.menu li{
	border-top: 1px solid #fff;
}
.menu li:hover{
	background: rgb(52, 52, 52);
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}
.hide{
	margin-left: -19%;
}
/******************************************************/
/*			Contenedor de color gris claro			 */
/****************************************************/
.contenedor{
	height:500px;
	padding: 10px;
	margin: 10px 10px 10px 160px;
	background-color: #D4D4D4;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	transition: 0.5s;

}
.complete{
	margin: 10px 10px 10px 10px;
}
/******************************************************/
/*			Seccion de texto de bienvenida			 */
/****************************************************/
#out{
	text-align: justify;
}
/********************************************************/
/*********	Seccion de div: cada div es una opcion del menu negro	*******/
/******************************************************/

/******************************************************/
/*----------Div1: Mediciones de Sensores-------------*/
/****************************************************/

/******************************************************/
/*------------------- Tabla-- -----------------------*/
/****************************************************/
#div1 table td{
	text-align: center;
    vertical-align: top;
    padding: 5px;
}
#div1 tr:nth-child(even){
	background-color: white;
}
/*#div1 tr:hover td{
	background-color: #264853;
	color: black;
}*/
.col{
	background: #264853;
	border-bottom: solid 3px #101F24;
	color: white;
}
.tabla{
	display: relative;
	border-collapse: collapse;
	width: 100%;
	list-style: none;
	text-align: center;
	max-width: 700px;
	margin-left: 5px;
}
/******************************************************/
/*Seccion de botones ON-OFF de mediciones de sensores*/
/****************************************************/
.ON-OFF1{
	background: green;
}
.ON-OFF2{
	background: red;
}
.ON-OFF3{
	background: green;
}
.ON-OFF4{
	background: red;
}
.ON-OFF5{
	background: yellow;
}
.ON-OFF6{
	background: grey;
}
.ON-OFF7{
	background: red;
}
.ON-OFF8{
	background: yellow;
}
.ON-OFF9{
	background: grey;
}
.ON-OFF10{
	background: green;
}
.ON-OFF11{
	background: yellow;
}
/******************************************************/
/*-------------Div3: Control de valvulas-------------*/
/****************************************************/
.tab-cdv{
	font-size: x-large;
	text-align: center;
}
.btnA{
	padding: 0 20px;
	height: 35px;
	line-height: 40px;
	border: none;
	color: black;
	background-color: #7D3C98;
	border-radius: 10px;
	cursor: pointer;
}
.btnA:hover{
	background: rgb(52, 52, 52);
}
/******************************************************/
/*------------------- Grafica -----------------------*/
/****************************************************/
#LineChart{
	display: flex;
	max-height: 400px;
}
.btnB{
	text-align: center;
	display: center;
	float: left;
	width: 90px;
	height: 60PX;
	margin: 4px;
	padding: 0 20px;
	border: none;
	color: black;
	background-color: #4E94AB;
	border-radius: 10px;
	cursor: pointer;
	
}
.btnB:hover{
	background: rgb(38, 72, 83);
}
